body {
    width: 60%;
    margin: 0 auto;
}

h1, footer {
    background-color: #ffe272;
    border-radius: 5px;
    text-align: center;
}

img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 25%;
    float: right;
}

.js {
}
