/*
Color Scheme: https://coolors.co/1b2830-2d4351-8aa89a-b07156-f9fbff
    #1B2830 - Dark Gunmetal
    #2D4351 - Charcoal
    #8AA89A - Pewter Blue
    #B07156 - Brown Sugar
    #F9FBFF - Ghost White
*/
body {
    text-align: center;
} 
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    padding: 10px;
}
h3 {
    background-color: #2D4351;
    color: #F9FBFF;
}
p, a {
    font-family: 'Raleway', sans-serif; 
}
p {
    margin: 20px;
}
header, footer {
    background-color: #1B2830;
    color: #F9FBFF;
    padding: 10px;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;

}
div {
    background-color: #F9FBFF;

}