@media only screen and (min-width: 64em) {
    main, footer {
        margin-left: 5%;
        margin-right: 5%;
    }
    form label.sbs {
        padding: .4rem 0;
    }
    form {
        margin-left: 25%;
        margin-right: 25%;
    }
    /*---CARDS---*/
    .cards h2 {
        text-align: center;
        color: #F2C57C;
        background-color: #1B2830;
        padding: 15px;
        margin: auto;
    }
    .cards {
        background-color: #F9FBFF;
        border: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5px;
        margin-left: 5em;
    }
    .cards div {
        display: block;
        background-color: #F9FBFF;
        box-shadow: 0 0 10px #111;
        text-align: center;
    }
    .cards img {
        width: 300px;
    }
    
}