@media only screen and (min-width: 32.5em) {
    nav button {
        display: none;
    }
    nav ul { 
        display: flex; 
    }
    nav ul.hide {
        display: flex;
    }
    nav ul li { 
        flex: 1 1 100%; 
    }
    .article img {
        display: block;
        margin: 0 auto;
        padding-top: 20px;
        width: 75%;
    }


    /*--CARDS--*/
    .cards section {
        width: 100%;
        justify-content: center;
    }
    .cards div section {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .cards div:nth-child(2) section{
        flex-direction: row-reverse;
    }
    .cards img {
        max-width: 100%;
        margin: 10px;
    }
    

}