.home1 {
    display: flex;
    flex-direction: row;
    padding: 1em 100px;
    justify-content: center;
    background-color: $paleCerulean;
    margin: 1em 1em;
    p {
        margin-right: 5px;
    }
    img {
        margin-left: 5px;
        height: 400px;
        width: 400px;
    }
}
//CARDS//
.guides {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}