//Color Scheme//
$ghostWhite: #F9FBFF;
$purpleNavy: #3D5A80;
$paleCerulean: #98C1D9;		
$lightRedOchre: #ee6c4d;
$gunmetal: #293241;

//Font Families//
$headings: 'Montserrat', sans-serif;
$body: 'Lora', serif;